In [1]:
# Import needed
import pandas as pd
import ast
import dataframe_image as dfi

In [2]:
# Create the main dataframe
results_df = pd.read_csv("./results.csv")
results_df

,FirstImage,SecondImage,NonZeroR,NonZeroG,NonZeroB,Matches0.5,Matches0.6,Matches0.7,Matches0.8,Matches0.9,Matches1.0,Matches
0,blues/Burning,blues/DADDAD,226596,220369,228632,0,0,2,8,85,416,462
1,blues/Burning,blues/Household,256132,247540,257604,0,0,0,7,77,419,462
2,blues/Burning,blues/In,250863,244014,253179,0,0,2,19,106,419,462
3,blues/Burning,blues/Kaggen,223090,214079,224773,0,0,0,12,88,420,462
4,blues/Burning,blues/L'homme,270547,258656,272525,0,0,1,8,62,417,462
...,...,...,...,...,...,...,...,...,...,...,...,...
3823,samba/Este,samba/Sambapleasure,273582,264104,276297,0,1,4,22,97,396,438
3824,samba/Este,samba/Samba,239413,225164,240884,0,0,3,24,114,397,438
3825,samba/MESCALE,samba/Sambapleasure,262750,256015,264923,0,0,1,22,107,452,493
3826,samba/MESCALE,samba/Samba,227605,217176,228716,0,0,3,12,98,462,493
3827,samba/Sambapleasure,samba/Samba,272714,262166,273956,0,0,0,11,79,450,482

In [3]:
# Describe main dataframe so we wave some base data
results_df.describe()

,NonZeroR,NonZeroG,NonZeroB,Matches0.5,Matches0.6,Matches0.7,Matches0.8,Matches0.9,Matches1.0,Matches
count,3828.000000,3828.000000,3828.000000,3828.000000,3828.000000,3828.000000,3828.000000,3828.000000,3828.000000,3828.000000
mean,251006.377220,244205.896552,252947.567659,0.392111,0.807210,3.503918,17.694357,89.956635,388.725183,428.341432
std,38814.514559,37156.922742,39241.569305,12.012715,12.033223,12.304929,14.747101,25.857233,43.391067,46.332708
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,13.000000,185.000000,222.000000
25%,242275.500000,237262.250000,243586.750000,0.000000,0.000000,1.000000,11.000000,75.000000,373.000000,413.000000
50%,262808.000000,256359.000000,264631.000000,0.000000,0.000000,2.000000,16.000000,89.000000,392.000000,434.000000
75%,275356.000000,266397.250000,278074.250000,0.000000,1.000000,4.000000,23.000000,105.000000,413.000000,454.000000
max,296129.000000,291697.000000,297912.000000,442.000000,442.000000,442.000000,442.000000,442.000000,475.000000,500.000000

In [4]:
# With one music, we can filter by gender
blues_burning_df = results_df.loc[results_df['FirstImage'] == 'blues/Burning']

In [5]:
with_rock = blues_burning_df.loc[blues_burning_df['SecondImage'].str.contains('rock')]
with_rock.mean(axis=0)

C:\Users\ITANU~1.MAR\AppData\Local\Temp/ipykernel_13684/2966112887.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  with_rock.mean(axis=0)

NonZeroR      263987.083333
NonZeroG      260251.916667
NonZeroB      266394.916667
Matches0.5         0.000000
Matches0.6         0.166667
Matches0.7         1.416667
Matches0.8        10.333333
Matches0.9        78.083333
Matches1.0       417.583333
Matches          462.000000
dtype: float64

In [6]:
with_jazz = blues_burning_df.loc[blues_burning_df['SecondImage'].str.contains('jazz')]
with_jazz.mean(axis=0)

C:\Users\ITANU~1.MAR\AppData\Local\Temp/ipykernel_13684/3750277299.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  with_jazz.mean(axis=0)

NonZeroR      217050.777778
NonZeroG      207023.222222
NonZeroB      218517.666667
Matches0.5         0.000000
Matches0.6         0.222222
Matches0.7         1.666667
Matches0.8        10.444444
Matches0.9        72.555556
Matches1.0       416.555556
Matches          462.000000
dtype: float64

In [7]:
with_blues = blues_burning_df.loc[blues_burning_df['SecondImage'].str.contains('blues')]
with_blues.mean(axis=0)

C:\Users\ITANU~1.MAR\AppData\Local\Temp/ipykernel_13684/1276150986.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  with_blues.mean(axis=0)

NonZeroR      235830.888889
NonZeroG      227719.555556
NonZeroB      237796.555556
Matches0.5         0.000000
Matches0.6         0.000000
Matches0.7         1.111111
Matches0.8        11.333333
Matches0.9        81.000000
Matches1.0       418.333333
Matches          462.000000
dtype: float64

In [8]:
with_classical = blues_burning_df.loc[blues_burning_df['SecondImage'].str.contains('classical')]
with_classical.mean(axis=0)

C:\Users\ITANU~1.MAR\AppData\Local\Temp/ipykernel_13684/2635199638.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  with_classical.mean(axis=0)

NonZeroR      169198.357143
NonZeroG      165185.571429
NonZeroB      170614.214286
Matches0.5         0.071429
Matches0.6         0.071429
Matches0.7         0.714286
Matches0.8         7.928571
Matches0.9        60.928571
Matches1.0       410.857143
Matches          462.000000
dtype: float64

In [9]:
with_dance = blues_burning_df.loc[blues_burning_df['SecondImage'].str.contains('dance')]
with_dance.mean(axis=0)

C:\Users\ITANU~1.MAR\AppData\Local\Temp/ipykernel_13684/3220465664.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  with_dance.mean(axis=0)

NonZeroR      262372.625
NonZeroG      255765.000
NonZeroB      264148.500
Matches0.5         0.000
Matches0.6         0.000
Matches0.7         1.375
Matches0.8        10.625
Matches0.9        76.250
Matches1.0       419.125
Matches          462.000
dtype: float64

In [10]:
with_dubstep = blues_burning_df.loc[blues_burning_df['SecondImage'].str.contains('dubstep')]
with_dubstep.mean(axis=0)

C:\Users\ITANU~1.MAR\AppData\Local\Temp/ipykernel_13684/3183681798.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  with_dubstep.mean(axis=0)

NonZeroR      252702.666667
NonZeroG      247290.333333
NonZeroB      254222.777778
Matches0.5         0.000000
Matches0.6         0.000000
Matches0.7         1.111111
Matches0.8        12.555556
Matches0.9        77.333333
Matches1.0       419.111111
Matches          462.000000
dtype: float64

In [11]:
with_eletronic = blues_burning_df.loc[blues_burning_df['SecondImage'].str.contains('eletronic')]
with_eletronic.mean(axis=0)

C:\Users\ITANU~1.MAR\AppData\Local\Temp/ipykernel_13684/2841460355.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  with_eletronic.mean(axis=0)

NonZeroR      248208.666667
NonZeroG      240071.000000
NonZeroB      250042.666667
Matches0.5         0.000000
Matches0.6         0.333333
Matches0.7         1.000000
Matches0.8        13.333333
Matches0.9        81.666667
Matches1.0       424.000000
Matches          462.000000
dtype: float64

In [12]:
with_hiphop = blues_burning_df.loc[blues_burning_df['SecondImage'].str.contains('hiphop')]
with_hiphop.mean(axis=0)

C:\Users\ITANU~1.MAR\AppData\Local\Temp/ipykernel_13684/2823917245.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  with_hiphop.mean(axis=0)

NonZeroR      224012.571429
NonZeroG      215378.000000
NonZeroB      224748.428571
Matches0.5         0.000000
Matches0.6         0.000000
Matches0.7         1.714286
Matches0.8        13.428571
Matches0.9        78.285714
Matches1.0       416.142857
Matches          462.000000
dtype: float64

In [13]:
with_pop = blues_burning_df.loc[blues_burning_df['SecondImage'].str.contains('pop')]
with_pop.mean(axis=0)

C:\Users\ITANU~1.MAR\AppData\Local\Temp/ipykernel_13684/3996040501.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  with_pop.mean(axis=0)

NonZeroR      238876.666667
NonZeroG      230823.888889
NonZeroB      240621.666667
Matches0.5         0.000000
Matches0.6         0.000000
Matches0.7         1.111111
Matches0.8        12.111111
Matches0.9        78.222222
Matches1.0       417.333333
Matches          462.000000
dtype: float64

In [14]:
with_samba = blues_burning_df.loc[blues_burning_df['SecondImage'].str.contains('samba')]
with_samba.mean(axis=0)

C:\Users\ITANU~1.MAR\AppData\Local\Temp/ipykernel_13684/3435341506.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  with_samba.mean(axis=0)

NonZeroR      244014.000000
NonZeroG      234586.000000
NonZeroB      245772.000000
Matches0.5         0.142857
Matches0.6         0.428571
Matches0.7         2.000000
Matches0.8        11.142857
Matches0.9        78.571429
Matches1.0       421.857143
Matches          462.000000
dtype: float64

In [39]:
# With one music, we can filter by gender
blues_burning_df = results_df.loc[results_df['FirstImage'] == 'blues/Burning']
fig_3_df = blues_burning_df.sort_values(by=['Matches0.9'], ascending=False).head(10)
fig_3_df = fig_3_df[['SecondImage', 'NonZeroR', 'NonZeroG', 'NonZeroB', 'Matches0.8', 'Matches0.9', 'Matches1.0']]
fig_3_df = fig_3_df.rename(
    columns={'SecondImage': 'MÃºsica Comparada',
             'NonZeroR': 'AbsDiff R',
             'NonZeroG': 'AbsDiff G',
             'NonZeroB': 'AbsDiff B',
             'Matches0.8': 'ORB distÃ¢ncia 0.8',
             'Matches0.9': 'ORB distÃ¢ncia 0.9',
             'Matches1.0': 'ORB distÃ¢ncia 1.0',
            }
)
fig_3_df = fig_3_df.set_index('MÃºsica Comparada')
dfi.export(fig_3_df, 'figura3.png')
fig_3_df

,AbsDiff R,AbsDiff G,AbsDiff B,ORB distÃ¢ncia 0.8,ORB distÃ¢ncia 0.9,ORB distÃ¢ncia 1.0
MÃºsica Comparada,,,,,,
samba/Blue,247903,234687,249515,17,118,426
blues/In,250863,244014,253179,19,106,419
blues/Steady,255506,249882,257799,12,103,421
pop/Let's,190937,183295,193068,10,94,418
jazz/Bandoneon,185275,177407,186198,13,91,414
dubstep/Elektrobeat,261067,255946,262217,18,91,430
dubstep/Get,262769,254134,264126,17,90,426
dance/Stardust,243617,239131,245582,10,89,422
rock/Deep,281085,279059,283150,10,89,420
rock/All,260226,257645,263132,13,89,420

In [41]:
fig_4_df = blues_burning_df.sort_values(by=['NonZeroG']).head(10)
fig_4_df = fig_4_df[['SecondImage', 'NonZeroR', 'NonZeroG', 'NonZeroB', 'Matches0.8', 'Matches0.9', 'Matches1.0']]
fig_4_df = fig_4_df.rename(
    columns={'SecondImage': 'MÃºsica Comparada',
             'NonZeroR': 'AbsDiff R',
             'NonZeroG': 'AbsDiff G',
             'NonZeroB': 'AbsDiff B',
             'Matches0.8': 'ORB distÃ¢ncia 0.8',
             'Matches0.9': 'ORB distÃ¢ncia 0.9',
             'Matches1.0': 'ORB distÃ¢ncia 1.0',
            }
)
fig_4_df = fig_4_df.set_index('MÃºsica Comparada')
dfi.export(fig_4_df, 'figura4.png')
fig_4_df

,AbsDiff R,AbsDiff G,AbsDiff B,ORB distÃ¢ncia 0.8,ORB distÃ¢ncia 0.9,ORB distÃ¢ncia 1.0
MÃºsica Comparada,,,,,,
classical/Bach,156657,156305,157101,3,52,413
classical/Silence,157546,156518,159070,2,47,407
classical/clessidra,159080,156718,160867,15,63,414
classical/R.Schumann,157377,157194,158214,3,52,406
classical/Galdson,161541,158754,164008,7,45,395
classical/middlenight,162082,159343,164172,9,57,418
classical/Helios,162082,159343,164172,9,57,418
blues/Wild,163188,160001,164575,10,76,423
classical/CINE,170617,164936,171836,9,73,404
classical/La,169742,165926,171118,7,68,403